/* border: 1px solid #FF434D; */

.GPS div{
    position: absolute;
    z-index: 20;
    border: 1px solid red;
}

.dapan{
    position: absolute;
    bottom: 0;
    left: 20.7vw;
    width: 38vw;
    height: 37vh;
    z-index: 20;
    text-align:center;
}

.dapan-word{
    position: absolute;
    top: 4.5vh;
    left: 8.8vw;
    width: 6vw;
    font-size: 1.3vw;
    font-weight: bold;
    vertical-align: middle;
    color: #F68404;
}
.dapan-close1{
    position: absolute;
    top: 4.5vh;
    left: 23.1vw;
    width: 6vw;
    font-size: 1.3vw;
    font-weight: bold;
    vertical-align: middle;
    color: #F68404;
}

.maxL{
    position: absolute;
    top: 14.5vh;
    left: 3vw;
    width: 6vw;
    font-size: 1.3vw;
    font-weight: bold;
    vertical-align: middle;
    color: #00BD8C;
}
.maxP{
    position: absolute;
    top: 14.5vh;
    left: 15.2vw;
    width: 6vw;
    font-size: 1.3vw;
    font-weight: bold;
    vertical-align: middle;
    color: #FF434D;
}
.balance{
    position: absolute;
    top: 14.5vh;
    left: 24.8vw;
    width: 10vw;
    font-size: 1.3vw;
    font-weight: bold;
    vertical-align: middle;
    color: #7F7FE0;
}

.Pp{
    position: absolute;
    top: 24.2vh;
    left: 15.2vw;
    width: 6vw;
    font-size: 1.3vw;
    font-weight: bold;
    vertical-align: middle;
    color: #FF434D;
}
.Ll{
    position: absolute;
    top: 24.2vh;
    left: 3vw;
    width: 6vw;
    font-size: 1.3vw;
    font-weight: bold;
    vertical-align: middle;
    color: #00BD8C;
}
.fwd{
    position: absolute;
    top: 24.2vh;
    left: 24.8vw;
    width: 10vw;
    font-size: 1.3vw;
    font-weight: bold;
    vertical-align: middle;
    color: #7F7FE0;
}

.maxPp{
    position: absolute;
    top: 34vh;
    left: 15.2vw;
    width: 6vw;
    font-size: 1.3vw;
    font-weight: bold;
    vertical-align: middle;
    color: #FF434D;
}
.maxLl{
    position: absolute;
    top: 34vh;
    left: 3vw;
    width: 6vw;
    font-size: 1.3vw;
    font-weight: bold;
    vertical-align: middle;
    color: #00BD8C;
}
.target-strike{
    position: absolute;
    top: 34vh;
    left: 27vw;
    width: 6vw;
    font-size: 1.3vw;
    font-weight: bold;
    vertical-align: middle;
    color: #7F7FE0;
}

