.op_mark{
    position: absolute;
    top: 3px;
    left: 41%;
    width: 300px;
    height: 50px;
    font-size: 40px;
}

.ai-bill{
    position: absolute;
    top: 625px;
    right: 625px;
    text-align: center;
    font-size: 23px;
    color: rgb(0, 81, 255);
}

/*中間表格顯示位*/
.op-now{
    position: absolute;
    top: 540px;
    right: 1380px;
    font-size: 20px;
    color: black;
}
.op-ftr{
    position: absolute;
    top: 540px;
    right: 1205px;
    font-size: 20px;
    color: black;
}
.op-fall{
    position: absolute;
    top: 540px;
    right: 980px;
    font-size: 20px;
    color: black;
}
.op-ptg{
    position: absolute;
    top: 540px;
    right: 830px;
    font-size: 20px;
    color: black;
}
.op-ml{
    position: absolute;
    top: 625px;
    right: 1380px;
    font-size: 20px;
    color: black;
}
.op-mp{
    position: absolute;
    top: 625px;
    right: 1210px;
    font-size: 20px;
    color: black;
}
.op-eq{
    position: absolute;
    top: 625px;
    right: 970px;
    font-size: 20px;
    color: black;
}
.op-fwd{
    position: absolute;
    top: 625px;
    right: 820px;
    font-size: 20px;
    color: black;
}

/*菜單按鈕*/
.btn{
    width: 100%;
}
.btn button{
    position: absolute;
    top: 5px;
    height: 50px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color:white;
}
.btn button[btn='交易']{
    left: 18px;
    width: 100px;
}
.btn button[btn='回測']{
    left: 130px;
    width: 100px;
}
.btn button[btn='幫助']{
    left: 252px;
    width: 120px;
}

.btn button[btn='語言']{
    right: 135px;
    width: 50px;
}
.btn button[btn='登入']{
    right: 75px;
    width: 50px;
}
.btn button[btn='註冊']{
    right: 15px;
    width: 50px;
}
.btn button[btn='漢堡條']{
    top: 61px;
    right: 15px;
    width: 50px;
}
.btn button[btn='策略推薦']{
    top: 118px;
    right: 95px;
    width: 640px;
    height: 40px;
    color: white;
    background-color: rgb(0, 81, 255);
    border-radius: 5px;
}

.btn button[btn='下單']{
    top: 94%;
    right: 54%;
    width: 200px;
    height: 40px;
    z-index: 10;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    background-color: rgb(179, 0, 0);
    border-radius: 10px;
}

.btn_right{
    top: 0;
    left: 0;
    border: 1px solid black;
}
.btn_right button{
    position: relative;
    top: 0;
    left: 90%;
    width: 50px;
    height: 50px;
    color: purple;
    font-size: 15px;
    border: none;
}

/*九宮格按鈕*/
.ai-btn button{
    position: absolute;
    width: 200px;
    height: 120px;
    border-radius: 8px;
    border-color: lightgray;
}
.ai-btn button[ai-btn='1']{
    top: 210px;
    right: 540px;
}
.ai-btn button[ai-btn='2']{
    top: 210px;
    right: 315px;
}
.ai-btn button[ai-btn='3']{
    top: 210px;
    right: 90px;
}
.ai-btn button[ai-btn='4']{
    top: 340px;
    right: 540px;
}
.ai-btn button[ai-btn='5']{
    top: 340px;
    right: 315px;
}
.ai-btn button[ai-btn='6']{
    top: 340px;
    right: 90px;
}
.ai-btn button[ai-btn='7']{
    top: 470px;
    right: 540px;
}
.ai-btn button[ai-btn='8']{
    top: 470px;
    right: 315px;
}
.ai-btn button[ai-btn='9']{
    top: 470px;
    right: 90px;
}
