/*菜單*/
.menu-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5.8vh;
    z-index: 10;
    background-color: #1C1D22;
    border-bottom: 0.7vh solid #1C1D22;
}
.menu-div button{
    position: absolute;
    top: 0.1vh;
    height: 5.5vh;
    font-size: 1.1vw;
    font-weight: bold;
    border: none;
    color:white;
    background-color: #1C1D22;
}
.menu-div button[btn='交易']{
    left: 1vw;
    width: 5vw;
}
.menu-div button[btn='回測']{
    left: 7vw;
    width: 5vw;
}
.menu-div button[btn='幫助']{
    left: 13vw;
    width: 7vw;
}
.menu-div button[btn='語言']{
    right: 7.2vw;
    width: 3.1vw;
}
.menu-div button[btn='登入']{
    right: 3.8vw;
    width: 3.1vw;
}
.menu-div button[btn='註冊']{
    right: 0.4vw;
    width: 3.1vw;
}
.menu-div img{
    position: absolute;
    left: 41vw;
    width: 16.5vw;
}


/*ai訂單*/
.ai-bill{
    position: absolute;
    bottom: 0;
    right: 3.7vw;
    width: 40vw;
    height: 33.4vh;
    border-left:  none;
    border-top: 0.4vh solid #20222d;
}
.ai-bill-title{
    position: relative;
    top: 0.3vh;
    left: 0.4vw;
    text-align: center;
    font-size: 1.3vw;
    color: rgb(0, 81, 255);
}


/*中間表格顯示位*/
.eight-detail-div{
    position: absolute;
    bottom: 0;
    left: 20.7vw;
    width: 38vw;
    height: 37vh;
    border-right: 0.2vw solid #1C1D22;
}

.eight-detail-div div[ed='1']{
    position: relative;
    width: 100%;
    height: 25%;
    border-bottom: 0.4vh solid #1C1D22;
}

.eight-detail-div div[ed='2']{
    position: relative;
    width: 100%;
    height: 25%;
    border-bottom: 0.4vh solid #1C1D22;
}

.eight-detail-div div[ed='3']{
    position: relative;
    width: 100%;
    height: 25%;
    border-bottom: 0.4vh solid #1C1D22;
}

.eight-detail-div div[ed='4']{
    position: relative;
    width: 100%;
    height: 25%;
}

.eight-detail-div font{
    position: relative;
    font-size: 1.1vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.eight-detail-div div[ed='1'] font[ed='op-now']{
    top: 0;
    left: 25%;    
}
.eight-detail-div div[ed='1'] font[ed='op-ftr']{
    top: 0;
    left: 50%; 
}

.eight-detail-div div[ed='2'] font[ed='op-ml']{
    top: 0;
    left: 10%; ; 
}
.eight-detail-div div[ed='2'] font[ed='op-mp']{
    top: 0;
    left: 30%;; 
}
.eight-detail-div div[ed='2'] font[ed='op-eq']{
    top: 0;
    left: 47%;
}

.eight-detail-div div[ed='3'] font[ed='op-fwd']{
    top: 0;
    left: 50%;
}
.eight-detail-div div[ed='3'] font[ed='op-lp']{
    top: 0;
    left: 10%;
}
.eight-detail-div div[ed='3'] font[ed='op-pp']{
    top: 0;
    left: 30%;
}

.eight-detail-div div[ed='4'] font[ed='op-fall']{
    top: 0;
    left: 35%;
}
.eight-detail-div div[ed='4'] font[ed='op-mlp']{
    top: 0;
    left: 8%;
}
.eight-detail-div div[ed='4'] font[ed='op-mpp']{
    top: 0;
    left: 21%;
}
