.detail-list{
    position: absolute;
    bottom: 0;
    left: 59vw;
    width: 37.2vw;
    height: 37vh;
    color:#FFFFFF;
    border-collapse: collapse;
}
.detail-top thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.detail-list button[btn='下單']{
    position: absolute;
    bottom: 2vh;
    left: 15vw;
    width: 10vw;
    height: 4vh;
    z-index: 10;
    font-size: 1.2vw;
    font-weight: lighter;
    color: white;
    background-color: rgb(179, 0, 0);
    border-radius: 8px;
    border: none;
}

/*head*/
.detail-top thead th{
    font-size: 1.1vw;
    font-weight: lighter;
}

.row-15{
    width: 15%;
}
.row-10{
    width: 10%;
}

/*body*/
.detail-list tbody{
    height: 20vh;
    display: block;
    overflow: overlay;
    text-align: center;
    font-size: 0.8vw;
    border-collapse: collapse;
}
.detail-list tbody tr{
    height: 3vh;
    margin: 0.8% 0;
}

.row-item{
    width: 15%;
    color: white;
    background-color: #393c4c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.row-ls{
    width: 15%;
    color: white;
    background-color: #393c4c;
}
.row-cp{
    width: 15%;
    color: white;
    background-color: #393c4c;
}
.row-st{
    width: 15%;
    color: white;
    background-color: #393c4c;
}
.row-qt{
    width: 15%;
    color: white;
    background-color: #393c4c;
}
.row-am{
    width: 15%;
    color: white;
    background-color: #393c4c;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.row-del{
    width: 10%;
    background-color: none;
}

.text{
    width: 4vw;
    color: black;
    text-align: center;
    border: none;
}

.row-del button{
    height: 2.8vh;
    border-radius: 50%;
    color: white;
    border-color: #7A8196;
    background-color: #4357b2;
}





