html body{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
/*t自帳頭*/
.table_set{
    position:absolute;
    top: 61px;
    left: 0;
    width: 300px;
    border-collapse: collapse;  
}
.table_set thead tr{
    width: 380px;
    display: inline-table;
}

.table_set thead th[data-th='c'],.table_set thead th[data-th='p']{ 
    width: 140px;
    height: 30px;
    color: white;
    display:table-cell; 
    text-align: center; 
}

.table_set thead th[data-th='s']{
    width: 100px;
    height: 30px;
    color: white;
    font-weight: lighter;
    display: table-cell;
    line-height: 50px;
    text-align: center;
}

.table_set thead th[data-th="st"]{
    width: 100px;
    height: 40px;
    color: white;
    display: table-cell;
}

.table_set thead th[data-th="ca"],.table_set thead th[data-th="cb"],.table_set thead th[data-th="pa"],.table_set thead th[data-th="pb"]{
    width: 70px;
    height: 40px;
    color: white;
    font-weight: lighter;
    display: table-cell;
    overflow: auto;
}

.bs_font{
    font-size: 20px;
    color: white;
}

/*t自帳身體*/
.table_set tbody{
    height: 780px;
    display: block;
    overflow-y: scroll;
}

.table_set tbody tr{
    width: 380px;
    height: 48px;
    vertical-align: middle;
    text-align: center;
    display: inline-table;
    background-color: white;
}

.btn_style{
    width: 56px;
    height: 35px;
    color:gray;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    background-color: white;
    font-size:medium;
}

.strike_style{
    width: 100px;
    border: 10px;
    background-color: #A6A6A6;
    color: white;
    font-size:larger;
}