html body{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #20222d;
}

img{
    width:100%;
    height:auto;
}

.tbar-div{
    position: absolute;
    bottom: 0;
    right: 79.2vw;
    width: 20.9vw;
    height: 93.5vh;
    background-color: #20222d;
    border-collapse: collapse;
    z-index: 100;
    
}
.table_set thead ,tbody tr{
    display:table;
    table-layout:fixed; 
    background-color: #20222d;
}

/*head*/
.tbar-div thead{
    width: 19.8vw;
    height: 10.7vh;
    border-collapse: collapse;
}

.table_set thead th[data-th='c'],.table_set thead th[data-th='p']{ 
    width: 36%;
    color: white;
    text-align: center; 
    font-size: 1.5vw;
    font-weight: lighter;
}

.table_set thead th[data-th='s']{
    width: 28%;
    color: white;
    font-size: 1.5vw;
    font-weight: lighter;
    text-align: center;
}

.table_set thead th[data-th="st"]{
    width: 32%;
    height: 40%;
    color: white;
    font-weight: lighter;
}

.table_set thead th[data-th="ca"],.table_set thead th[data-th="cb"],.table_set thead th[data-th="pa"],.table_set thead th[data-th="pb"]{
    width: 17%;
    color: white;
    font-weight: lighter;
}


/*body*/
.table_set tbody{
    display: block;
    width: 100%;
    height: 83.2vh;
    font-weight: lighter;
    text-align: center;
    overflow-y: scroll;
    background-color: white;
    border-collapse: collapse;
}

.table_set tbody tr{
    height: 4vh;
}

.btn_style{
    margin: 5% 0;
    padding: 1%;
    width: 2.7vw;
    height: 4vh;
    font-size: 1vw;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(70, 70, 70);
    color:rgb(255, 255, 255);
    background-color: #20222d;
}

.btn_style_inside{
    margin: 5% 0;
    padding: 1%;
    width: 2.7vw;
    height: 4vh;
    font-size: 1vw;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
    color:#E76764;
    background-color: #20222d;
}

.btn_style_outside{
    margin: 5% 0;
    padding: 1%;
    width: 2.7vw;
    height: 4vh;
    font-size: 1vw;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
    color:#46B0A6;
    background-color: #20222d;
}


.strike_style{
    width: 28%;
    font-size: 1.2vw;
    background-color: #20222d;
    color: white;

}


.strike_style_equal{
    width: 28%;
    font-size: 1.2vw;
    background-color: #20222d;
    color: #F68404;
}