/*t自帳滾輪上面填空的div*/
.line-design div{
    position: absolute;
}

.line-design div[ldsign='rightside-menu-line']{
    bottom: 0;
    right: 0;
    width: 3.45vw;
    height: 93.5vh;
    z-index: 10;
    border-left: 0.2vw solid #1C1D22;
}